

div.loader {
	position: relative;
	background-image: url('/img/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 320px;
	height: 210px;
}


ul.thumbs li {
	float: left;
	padding: 5px;
	margin: 0;
	list-style: none;
}

