

div.loader {
	position: relative;
	background-image: url('/img/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 450px;
	height: 300px;
}


ul.thumbs li {
	float: left;
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
}

