body
  margin-top: 100px

#contact
  min-height: 80vh
  background-color: #F7F7F7
  #header-section
    text-align: center
    text-transform: uppercase
    font-weight: bold
    padding: 40px 0
    margin: 0
    background-color: white
  #contact-content
    padding-left: 0
    list-style: none
  .section-row
    padding: 10px 0
    .item-header
      text-align: center
      text-transform: uppercase
    .item-text
      font-size: 16px
      display: block
      text-align: center