body
  margin-top: 100px

#contact
  min-height: 80vh
  background-color: #F7F7F7
  .left-corner
    min-height: 100vh
    #contact-content
      background-color: #b61f3e
      margin: 10%
      color: white
      list-style: none
      padding-left: 0
  .right-corner
    #map
      min-height: 100vh