.faq-banner
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('/img/banner3.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: 40% 20%
  .section-header
    color: white
    text-transform: uppercase
    padding: 117px 15px
    margin: 0 auto

#accordion
  .faq-item
    border: none
    border-radius: 0
    margin-bottom: 0
    transition: all 100ms ease
    .faq-link
      display: block
      color: #222
      text-decoration: none
      padding: 30px 0
      border-bottom: 1px solid #bbbbbb
      .faq-header
        font-weight: bold
        color: #000000
      .faq-button
        float: right
        height: 14px
    .panel-heading
      margin: 0
    .panel-body
      padding: 0 0 15px
      .faq-description
        color: #333333
        line-height: 30px
        font-size: 15px

    &.active-item
      background-color: #f7f7f7
      .faq-link
        color: white
        border: none
        .faq-header
          color: #5f081a


@media(max-width: 1440px)
  .rates-banner
      background-position: 30% 20%
      .section-header
        padding: 85px 15px

@media (max-width: $screen-xs-max)
  #accordion
    .faq-item
      .faq-link
        .faq-header
          max-width: 80%
          line-height: 25px
          display: inline-block

@media (max-width: 568px )
  #accordion
    .faq-item
      .faq-link
        border-bottom: 1px solid #bbb


