#cover
  text-align: center
  color: #fff
  display: table
  position: relative
  z-index: 5
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-position: center bottom
  -webkit-background-size: cover
  -moz-2-size: cover
  background-size: cover
  -o-background-size: cover
  .bg-overlay
    position: absolute
    background: linear-gradient(to top, transparent, rgba(0,0,0,0.7))
    height: 100%
    width: 100%
    z-index: 1
  .header-content
    position: absolute
    width: 100%
    text-align: center
    z-index: 4
    .logo-container
      padding: 240px 0
      .logo
        position: relative
        z-index: 2
        height: 220px

  #video-overlay
    width: 100%
    height: 100%
    position: absolute
    background-color: rgba(0, 43, 55, 0.5)
    z-index: 3
  #video-header
    position: relative
    overflow: hidden
    height: 100vh
    max-height: 100vh
    text-align: center
    #inner-video-container
      position: absolute
      height: 100%
      width: 200%
      left: -50%
      #video-sample
        margin: auto
        height: 120%
        min-width: 50%

#about
  position: relative
  background-image: url('/img/background/about-bg.png')
  background-size: cover
  background-position: center center
  background-color: #5f081a
  background-repeat: no-repeat
  .logo-container
    padding: 150px 0
    .logo
      height: 250px
  .about-content
    padding-top: 50px
    .about-header
      font-size: 22px
      letter-spacing: 10px
      font-family: "Sequel-Regular"
      padding-left: 5px
      text-transform: uppercase
      color: white
    .about-description
      color: white
      padding: 40px 25px 70px
      margin: 0 auto
      font-size: 16px
      line-height: 30px


//#feature
//  .feature-content
//    overflow: hidden
//    .reel-image-item
//      position: relative
//      .popup-vimeo
//        text-decoration: none
//        border: 0
//        outline: none
//        .reel-image
//          position: relative
//          height: 250px
//          transition: all 300ms ease-in-out
//          z-index: 2
//          &:hover
//            z-index: 5
//            transform: scale(1.03,1.03)
//          .reel-title
//            color: white
//            text-align: center
//            font-size: 17px
//            position: absolute
//            top: 50%
//            transform: translateY(-50%)
//            margin: 0
//            left: 0
//            right: 0

#contact
  background-image: url('/img/gmap.jpg')
  background-repeat: no-repeat
  background-position: center center
  #contact-content
    margin: 50px auto
    #contact-details
      list-style: none
      color: white
      padding: 50px
      background-color: #5f081a
      width: fit-content
      .section-row
        margin: 25px 0
        .item-header
          font-size: 22px
        .item-text
          font-size: 18px

//#feature
  //.left-section
  //  .header-section
  //    font-family: "Sequel-Regular", "sans-serif"
  //    margin-bottom: 30px
  //  .navigation
  //    padding-left: 0
  //    .thumbs
  //      padding-left: 0
  //.right-section
  //  .header-section
  //    font-family: "Sequel-Regular", "sans-serif"
  //    margin-bottom: 30px
  //  #gallery
  //    border-top: 2px solid #B61F3E
  //    border-bottom: 2px solid #B61F3E
  //    position: relative
  //    .border-left
  //      border-left: 2px solid #B61F3E
  //      height: 375px
  //      position: absolute
  //      top: -10px
  //      left: 10px
  //    .slideshow-container
  //      height: 255px
  //      margin-top: 50px
  //      margin-bottom: 50px
  //      position: relative
  //      display: block
  //      .slideshow
  //        .image-wrapper
  //          display: block
  //          position: absolute
  //          .advance-link
  //            display: block
  //            img
  //              padding: 0 15px
  //              width: 100%
  //              height: auto
  //    .caption-container
  //      display: block
  //      position: relative
  //      height: 255px
  //      margin-top: 50px
  //      margin-bottom: 50px
  //      .image-caption
  //        position: absolute
  //        top: 0
  //        left: 0
  //        padding: 20px 0
  //        .image-desc
  //          margin: 15px auto
  //        .image-link
  //          a
  //            text-decoration: none
  //            color: #B61F3E


@media (min-width: 1441px)
  #cover
    .logo-container
      padding-top: 380px
      .logo
        height: 270px

  #about
    background-size: auto