body
  margin-top: 0 !important

#cover
  background-color: #000000
  text-align: center
  color: #fff
  display: table
  position: relative
  z-index: 5
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-position: center bottom
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  .header-content
    position: absolute
    width: 100%
    height: inherit
    text-align: center
    z-index: 4
    .logo-container
      position: relative
      top: 50%
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      .logo
        position: relative
        z-index: 2
        height: 220px

  #video-overlay
    width: 100%
    height: 100%
    position: absolute
    background-color: rgba(0, 43, 55, 0.3)
    z-index: 3
  #video-header
    position: relative
    overflow: hidden
    height: 100vh
    max-height: 100vh
    text-align: center
    #inner-video-container
      position: absolute
      height: 100%
      width: 200%
      left: -50%
      #video-sample
        margin: auto
        height: 120%
        min-width: 50%

#about
  background-color: #5f081a
  .about-content
    padding-top: 50px
    padding-bottom: 50px
    .about-header
      font-size: 22px
      letter-spacing: 10px
      font-family: "Sequel-Regular"
      padding-left: 5px
      text-transform: uppercase
      color: white
    .about-description
      color: white
      margin-left:  auto
      margin-right: auto
      font-size: 16px
      line-height: 30px

#contact
  background-image: url('/img/gmap.jpg')
  background-repeat: no-repeat
  background-position: center center
  #contact-content
    margin: 50px auto
    #contact-details
      list-style: none
      color: white
      padding: 35px
      background-color: #5f081a
      width: fit-content
      .section-row
        margin: 25px 0
        .item-header
          font-size: 20px
        .item-text
          font-size: 15px
          line-height: 28px



@media (min-width: 1441px)
  #cover
    .header-content
      .logo-container
        .logo
          height: 350px

  #about
    .about-content
      .about-description
        width: 90%
  #contact
    #contact-content
      #contact-details
        padding-left: 100px
        padding-right: 100px
@media (max-width: $screen-sm-max)
  #cover
    .header-content
      .logo-container
        .logo
          height: 250px

  #about
    background-image: none
    .about-header
      text-align: center
    .center-block
      display: none
    .logo-container
      padding: 0

  #contact
    #contact-content
      #contact-details
        padding: 35px 60px
        margin: 0 auto


@media (max-width: $screen-xs-max)
  #cover
    .header-content
      .logo-container
        .logo
          z-index: 2
          height: 230px
  #about
    background-image: none
    .about-content
      .about-header
        font-size: 18px
        letter-spacing: 5px
        text-align: center
      .center-block
        display: none

@media (max-width: $screen-xs)
  #cover
    .header-content
      .logo-container
        .logo
          height: 150px

