.rates-banner
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('/img/banner2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: 60% 70%
  .section-header
    color: white
    text-transform: uppercase
    padding: 117px
    margin: 0 auto

#rates
  min-height: 100vh
  .section-container
    .content-title
      font-weight: bold
      font-size: 18px
      letter-spacing: 2px
      text-align: center
      text-transform: uppercase
      margin-bottom: 30px
    .section-list-item
      position: relative
      border-right: 1px solid #DCDCDC
      &:last-child
        border: none
      &.row-1
        margin: 30px 0 60px
        min-height: 450px
      &.row-2
        margin: 30px 0
        min-height: 250px
      &.row-3
        margin: 30px 0
        min-height: 450px
      &.item-4
        border-right: none
      &.item-7
        border-right: none
      .content-container
        padding-left: 0
        list-style: none
        .content-item
          &:last-child
            border: none
          .content-name
            display: block
            text-align: center
            font-size: 16px
            padding: 10px 0
      .content-price
        line-height: 25px
        text-align: center
        color: #5f081a
        font-size: 18px
        letter-spacing: 2px
        font-weight: bold
        position: absolute
        bottom: 0
        left: 0
        right: 0
        padding: 0 15px
    .section-divider
      float: left
      width: 100%
      border: 2px solid #DCDCDC

    .extra-list
      padding-left: 15px
      padding-right: 15px
      width: 20%
      float: left
@media (max-width: 1440)
.rates-banner
  background-position: 30% 20%
  .section-header
    padding: 85px 0
@media (max-width: $screen-sm-max)
  body
  margin-top: 95px
  #rates
    .section-container
      .section-divider
        border: none
      .section-list-item
        border: 2px solid ghostwhite
        &.row-1
          min-height: 460px
          margin: 0
        &.row-2
          margin: 0
        &.row-3
          margin: 0
        &.item-2,&.item-6
          border-right: none
        &.item-7
          width: 100%
          min-height: 0
        &.item-8,&.item-9,&.item-10,&.item-11
          min-height: 250px
        &.item-12
          width: 100%
          min-height: 380px
        .content-container
          .content-item
            border-bottom: none
            .content-name
              padding: 15px 0
      .extra-list
        width: 50%


@media (max-width: $screen-xs-max)
  #rates
    .section-container
      .section-divider
        border: none
      .section-list-item
        border: 2px solid ghostwhite
        &.item-1,&.item-2,&.item-3,&.item-4,&.item-5,&.item-6,&.item-7,&.item-8,&.item-9,&.item-10,&.item-11,&.item-12
          width: 100%
          border-right: 0
          min-height: 0
          margin: 15px 0
        .content-price
          position: relative
          top: 0
          transform: none
          margin: 20px 0
        .content-container
          .content-item
            border-bottom: none
            .content-name
              padding: 15px 0
