body
  margin-top: 100px

#rates
  min-height: 100vh
  .rates-item
    background-size: cover
    background-position: top center
    .rates-link
      text-decoration: none
      color: white
      &:hover
        color: white
      .panel-title
        padding: 50px 0
        .rates-title
          font-size: 1.8em
        .rates-price
          float: right
          font-size: 1.8em