body
  margin-top: 100px

.reel-list-container
  min-height: 100vh
  .button-group
    padding: 25px 0
    margin: 0 auto
    display: table
    .btn-isotope
      outline: none
      border-color: #B61F3E
      background-color: transparent
      margin-right: 5px
      margin-left: 5px
      color: #B61F3E
      &.is-checked
        border-color: #B61F3E
        background-color: #B61F3E
        color: #fff
      &:hover
        border-color: #B61F3E
        background-color: #B61F3E
        color: #fff
  .grid
    overflow: hidden
    .reel-image-item
      position: relative
      .popup-vimeo
        text-decoration: none
        border: 0
        outline: none
        .reel-image
          position: relative
          height: 250px
          transition: all 300ms ease-in-out
          z-index: 2
          &:hover
            z-index: 5
            transform: scale(1.03,1.03)
          .reel-title
            color: white
            text-align: center
            font-size: 17px
            position: absolute
            top: 50%
            transform: translateY(-50%)
            margin: 0
            left: 0
            right: 0