body
  margin-top: 100px

.reel-list-container
  min-height: 100vh
  .grid
    .reel-image-item
      position: relative
      .popup-vimeo
        text-decoration: none
        border: 0
        outline: none
        .reel-image
          position: relative
          height: 250px
          transition: all 700ms ease-in-out
          //&:hover
          //  transform: scale(1.1,1.1)
          .reel-title
            color: white
            text-align: center
            font-size: 17px
            position: absolute
            top: 50%
            transform: translateY(-50%)
            margin: 0
            left: 0
            right: 0