#reel-list
  .filter-container
    //background-color: #5f081a
    background-color: #f7f7f7
    .button-group
      padding:  0
      margin: 0 auto
      .dropdown
        float: left
        display: inline-block
        width: 14.2857142857%
        border-radius: 0
        .dropdown-menu
          width: 100%
          border-radius: 0
          margin: 0
          padding: 0
          border: none

        .btn-isotope
          width: 100%
          text-decoration: none
          text-align: center
          padding: 32px 0
          border-radius: 0
          outline: none
          background-color: transparent
          color: #5f081a
          transition: all 300ms ease-in-out
          border: none
          &.is-checked
            background-color: #5f081a
            color: #f7f7f7
          &:hover
            background-color: #6f0b20
            color: #f7f7f7

      .btn-isotope
        float: left
        display: inline-block
        text-decoration: none
        text-align: center
        padding: 32px 0
        width: 14.2857142857%
        border-radius: 0
        outline: none
        background-color: transparent
        color: #5f081a
        transition: all 300ms ease-in-out
        border: none
        &.is-checked
          background-color: #5f081a
          color: #f7f7f7
        &:hover
          background-color: #6f0b20
          color: #f7f7f7
      #search-name1
        color: #ffffff
        width: 14.2857142857%
        display: inline-block
        border-radius: 0
        height: 83px
        border: none
        padding: 0 15px
        background-color: #000000
        outline: none
        box-shadow: none
        -webkit-appearance: none
      #search-name2
        width: 14.2857142857%
        border-radius: 0
        height: 83px
        color: #ffffff
        padding: 0 15px
        background-color: #000000
        border: none
        outline: none
        -webkit-appearance: none
        box-shadow: none

  .reel-list-container
    min-height: 100vh
    padding: 0
    .grid
      overflow: hidden
      display: none
      .reel-image-item
        padding: 2px
        position: relative
        .popup-vimeo
          text-decoration: none
          border: 0
          outline: none
          display: block
          .reel-image
            position: relative
            height: 400px
            transition: all 300ms ease-in-out
            z-index: 2
            &:hover
              z-index: 5
            .caption
              position: absolute
              bottom: 20px
              left: 20px
              .reel-title
                color: white
                font-size: 22px
                //text-transform: capitalize
                letter-spacing: 2px
              .reel-date
                color: white
                margin: 0

        .content-container
          background-color: #f7f7f7
          padding: 15px 0

    #no-result

      display: none
      #result-text
        text-align: center
        marign: 0
      &.active
        display: block

        opacity: 1
        position: absolute
        left: 0
        right: 0
        top: 50%
        transform: translateY(-50%)

#reel-specific
  position: relative
  background-color: #f7f7f7
  #video
    position: relative
    height: 700px
    #video-bg
      transition: background-image 500ms ease-in-out
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      height: inherit
      .video-button-container
        width: 100%
        position: absolute
        top: 50%
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        z-index: 5
        .video-button
          cursor: pointer
          left: 0
          right: 0
          height: 100px
        .caption
          .caption-text
            color: white
            letter-spacing: 2px
            text-align: center
    .iframe-video-container
      background-color: black
      height: inherit
      display: none
      iframe
        height: inherit
        width: 100%

  .video-description-container
    margin: 35px auto
    line-height: 45px
    p
      font-size: 18px
      &:first-child:first-letter
        font-size: 200%

@media (max-width: 1440px)
  #reel-list
    .reel-list-container
      padding: 0
      .grid
        .reel-image-item
          .popup-vimeo
            .reel-image
              height: 350px

  #reel-specific
    #video
      height: 550px

@media (max-width: $screen-md-max)


@media (min-width: $screen-md-min)
  #reel-specific
    .header-container
      width: 970px

    #background-overlay
      background-color: black
      .video-container
        width: 970px
        
    .video-description-container
      width: 970px
      
    .disqus-container
      width: 970px

@media (max-width: $screen-sm-max)
  #reel-list
    background-color: #f7f7f7
    .category-nav
      display: block
      .category-nav-mobile
        text-align: center
        padding: 20px 0
        background-color: #5f081a
        #category-button
          color: white
          text-transform: uppercase
          text-decoration: none
          display: block
      #navbar-category-collapse
        .btn-isotope
          padding: 14px 0
          margin-left: 0
          margin-right: 0
          border-radius: 0
          border: none
          color: white
          background-color: #5F0822
          -webkit-appearance: none
          box-shadow: none
          outline: none
        #search-name2
          padding-top: 14px
          padding-bottom: 14px
          width: 100%
          height: 49px
          border: none
          background-color: #7F0B23
          color: white
          outline: none
          -webkit-appearance: none
          box-shadow: none
          float: right
          border-radius: 0
          text-align: center
    .reel-list-container
      padding: 20px 0







