<div id="reel-specific">
    <div id="video" class="container-fluid no-gutter">
            <div id="video-bg" style="background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('/img/video-bg/{{ page.video-bg }}')">
                <div class="video-button-container">
                    <img id="play-button" class="video-button center-block" src="/img/assets/video-button.png"/>
                </div>
            </div>
            <div class="iframe-video-container">
                <!--<iframe id="vimeo-video" class="iframe-video" src='https://player.vimeo.com/video/{{ page.vimeo-id }}/' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
            </div>
    </div>

    <div class="video-description-container container">
        {{ page.content }}
    </div>

    <div class="container disqus-container">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'threelogycloud';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>