<div class="faq-banner">
    <h2 class="section-header container">Frequently asked Questions</h2>
</div>

<div id="faq" class="container-fluid no-gutter">
    <div class="accordion" id="accordion">
        {% for faq in site.data.faq %}
        <div class="panel faq-item">
            <a class="faq-link container" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ faq.id }}">
                <div class="panel-heading">
                    <h4>
                        <span class="faq-header">{{ faq.header | upcase }}</span>
                        <img class="faq-button" src="/img/icon-button/arrow_down.png"/>
                    </h4>
                </div>
            </a>
            <div id="collapse{{ faq.id }}" class="container panel-collapse collapse package-content">
                <div class="panel-body">
                    <p class="faq-description">{{ faq.description }}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>