<div id="rates" class="container no-gutter">
    <div class="section-container">
        {% for rates in site.data.rates limit: 7 %}
        {% assign counter = counter | plus: 1%}
            {% if counter < 5 %}
            <div class="item-{{ counter }} row-1 section-list-item col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <ul class="content-container">
                    <h2 class="content-title"> {{ rates.title }}</h2>
                    {% for rates-package in rates.package %}
                    <li class="content-item">
                        <span class="content-name">{{ rates-package.package-name }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <h2 class="content-price">{{ rates.price }}</h2>
            </div>
            {% if counter == 2 %}<hr class="hidden-lg hidden-md visible-sm visible-xs section-divider"/>{% endif %}
            {% else if counter >= 5 and counter <= 7 %}
            {% if counter == 5 %}<hr class="section-divider"/>{% endif %}
            <div class="item-{{ counter }} row-2 section-list-item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <ul class="content-container">
                    <h2 class="content-title"> {{ rates.title }}</h2>
                    {% for rates-package in rates.package %}
                    <li class="content-item">
                        <span class="content-name">{{ rates-package.package-name }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <h2 class="content-price">{{ rates.price }}</h2>
            </div>
            {% endif %}
        {% endfor %}

        <hr class="section-divider"/>
        <div class="col-md-12 no-gutter">
            <h2 class="content-title">Fees Out Of Town</h2>
            {% assign counter = 7 %}
            {% for rates in site.data.rates offset: 7 %}
                {% for rates-package in rates.package %}
                {% assign counter = counter %}
                {% assign counter = counter | plus: 1 %}
                {% if counter == 10 or counter == 12 %}<hr class="hidden-lg hidden-md visible-sm visible-xs section-divider"/>{% endif %}
                    <div class="item-{{ counter }} row-3 section-list-item extra-list ">
                        <ul class="content-container">
                            {% for destination in rates-package.package-destination %}
                            <li class="content-item">
                                <span class="content-name">{{ destination.destination }}</span>
                            </li>
                            {% endfor %}
                            <h2 class="content-price">{{ rates-package.package-price }}</h2>
                        </ul>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
