<div id="rates" class="container-fluid no-gutter">
    <div class="panel-group" id="accordion">
        {% for rates in site.data.rates %}
        <div class="panel rates-item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url('{{ rates.bg-image }}');">
            <a class="rates-link container" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ rates.id }}">
                <div class="panel-heading">
                    <h2 class="panel-title text-left">
                        <span class="rates-title">{{ rates.title }}</span>
                        <span class="rates-price">{{ rates.price }}</span>
                    </h2>
                </div>
            </a>
            <div id="collapse{{rates.id}}" class="container panel-collapse collapse package-content">
                <div class="panel-body">
                    <table class="table">
                        <h3 class="header-section text-center">Package</h3>
                        {% for package-details in rates.package %}
                        <tr>
                            <td>
                                <h4 class="package-item text-center">{{ package-details.package-name }}</h4>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
