<div class="container no-gutter">
    <div class="col-md-6">
        <div class="logo-container">
            <img class="center-block" src="/img/threelogy-logo-about.png"/>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-5">
        <div class="about-content">
            <h1 class="about-header">Natural.Real.Candid</h1>
            <p class="about-description">In a world dominated by highly scripted, acted out wedding videos, Threelogy has been steadfast and bullishly stubborn in keeping theris natural, candid and real. And we wouldn't have it any other way. And quite frankly, you should too.</p>
        </div>
        <div class="about-bottom">
            <span id="date">est 04</span>
            <span id="text">FAQ'S</span>
        </div>
    </div>
</div>