<div class="container-fluid no-gutter">
    <div id="contact-content" class="container no-gutter">
        <ul id="contact-details">
            <li class="section-row">
                <h4 class="item-header">Email</h4>
                <span class="item-text">johndoe@wedding.com</span>
            </li>

            <li class="section-row">
                <h4 class="item-header">Telefax</h4>
                <span class="item-text">+634245428</span>
            </li>

            <li class="section-row">
                <h4 class="item-header">Phone Numbers</h4>
                <span class="item-text">+639 198 11396 37 (johndoe)</span>
                <br/>
                <span class="item-text">+639 229 5065 18 (johndoe)</span>
                <br/>
                <span class="item-text">+639 329 0836 01 (johndoe)</span>
            </li>

            <li class="section-row">
                <h4 class="item-header">Location</h4>
                <span class="item-text">5150 Park Avenue, Bonita Springs, FL 34135</span>
            </li>
        </ul>
    </div>
</div>