<div class="container-fluid no-gutter">
    <div id="map">
    </div>
    <div class="contact-container">
        <div class="header-section">
            <div class="header-image" style="background-image: url('/img/fb-logo.jpg');">
                <!--<h2 class="header-title">Threelogy Video</h2>-->
            </div>
        </div>
        <div class="header-content">
            <ul class="header-list">
                <li class="content-list">
                    <span class="content-icon">
                        <img src="/img/assets/fax-button.png" class="img-responsive"/>
                    </span>
                    <span class="content-item">954-5787</span>
                </li>

                <li class="content-list">
                    <span class="content-icon">
                        <img src="/img/assets/phone-book-button.png" class="img-responsive"/>
                    </span>
                    <ul>
                        <li>+63 918 913 9627</li>
                        <li>+63 920 950 6558</li>
                        <li>+63 939 908 3603</li>
                    </ul>
                </li>

                <li class="content-list">
                     <span class="content-icon">
                        <img src="/img/assets/pin-button.png" class="img-responsive"/>
                    </span>
                    <span class="content-item content-location">Quezon City, Philippines</span>
                </li>
            </ul>
            <div class="header-action">
                <span class="content-icon">
                    <img src="/img/assets/get-directions-button.png" class="img-responsive"/>
                </span>
                <a href="https://goo.gl/GzrWMg" target="_blank" class="content-item">Get Direction</a>

            </div>
        </div>
    </div>
</div>