<div id="contact" class="container-fluid no-gutter">
    <div class="col-md-6 no-gutter left-corner">
        <ul id="contact-content">
            <li class="section-row">
                <h4 class="item-header">Email</h4>
                <span class="item-text">inquiry@threelogyvideo.com</span>
            </li>

            <li class="section-row">
                <h4 class="item-header">Telefax</h4>
                <span class="item-text">7954-5787</span>
            </li>

            <li class="section-row">
                <h4 class="item-header">Phone Numbers</h4>
                <span class="item-text">CJ: +6391989139627</span>
                <span class="item-text">Bong: +639209506558</span>
                <span class="item-text">Jon: +639399083603</span>
            </li>

            <li class="section-row">
                <h4 class="item-header">Location</h4>
                <span class="item-text">54-E Makapagkawanggawa corner Magiting St. Teachers Village, Quezon City, Philippines.</span>
            </li>
        </ul>
    </div>
    <div class="col-md-6 no-gutter right-corner">
        <div id="map"></div>
    </div>
</div>

