<div class="container-fluid no-gutter">
    <div id="contact-content" class="container no-gutter">
        <ul id="contact-details">
            <li class="section-row">
                <h4 class="item-header">Email</h4>
                <span class="item-text">inquiry@threelogyvideo.com</span>
            </li>

            <li class="section-row">
                <h4 class="item-header">Telefax</h4>
                <span class="item-text">+634344428</span>
            </li>

            <li class="section-row">
                <h4 class="item-header">Phone Numbers</h4>
                <span class="item-text">+639 198 91396 27 (CJ)</span>
                <br/>
                <span class="item-text">+639 209 5065 58 (BONG)</span>
                <br/>
                <span class="item-text">+639 399 0836 03 (JON)</span>
            </li>

            <li class="section-row">
                <h4 class="item-header">Location</h4>
                <span class="item-text">54-E Makapagkawanggawa corner Magiting St. <br/> Teachers Village, <br/>Quezon City, Philippines.</span>
            </li>
        </ul>
    </div>
</div>