<div class="header-content">
    <div class="logo-container">
        <img class="logo center-block" src="/img/brand-logo.png"/>
    </div>
</div>
<div id="video-overlay"></div>
<header id="video-header">
    <div id="inner-video-container">
        <video id="video-sample" loop="true" autoplay muted >
            <source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/4070/5/145351537/438685878.mp4?token=577540c5_0xbab3e2072347f4a145e10a6e03104f2920617d63#t=04"/>
        </video>
    </div>
</header>

