<div class="header-content">
    <div class="logo-container">
        <img class="logo center-block" src="/img/logo-white.png"/>
    </div>
</div>
<div id="video-overlay"></div>
<header id="video-header">
    <div id="inner-video-container">
        <video id="video-sample" loop="true" autoplay muted >
            <source src="http://ak6.picdn.net/shutterstock/videos/974686/preview/stock-footage-attractive-couple-enjoying-their-special-wedding-day-on-a-beautiful-sandy-beach.mp4"/>
        </video>
    </div>
</header>

