<div class="container-padding container no-gutter">
    <div class="col-md-5 feature-thumbnail-container">
        <div id="thumbs" class="navigation">
            <ul class="thumbs noscript">
                <li>
                    <a class="thumb" name="leaf" href="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015.jpg" title="Title #0">
                        <img src="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015_s.jpg" alt="Title #0" />
                    </a>
                    <div class="caption">
                        <div class="download">
                            <a href="http://farm4.static.flickr.com/3261/2538183196_8baf9a8015_b.jpg">Download Original</a>
                        </div>
                        <div class="image-title">Title #0</div>
                        <div class="image-desc">Description</div>
                    </div>
                </li>

                <li>
                    <a class="thumb" name="drop" href="http://farm3.static.flickr.com/2404/2538171134_2f77bc00d9.jpg" title="Title #1">
                        <img src="http://farm3.static.flickr.com/2404/2538171134_2f77bc00d9_s.jpg" alt="Title #1" />
                    </a>
                    <div class="caption">
                        Any html can be placed here ...
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <div class="col-md-7 feature-content-container">
        <div id="gallery" class="content">
            <div class="slideshow-container">
                <div id="loading" class="loader"></div>
                <div id="slideshow" class="slideshow"></div>
            </div>
        </div>
    </div>

</div>