---
layout: default
css: contact.css
title: Contact
javascript: >
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFvcE4e-ZFGNDjCxsa0F-pQ89GWJRpqKk&callback=initMap"></script>
    <script>
        function initMap() {
            var mapLocation = {lat: 14.370429, lng: 121.008782};
            var customMapType = new google.maps.StyledMapType([
                {
                    featureType: 'road',
                    stylers: [
                        {visibility: 'simplified'},
                        {gamma: 0.5},
                        {weight: 0.5},
                        { hue: "#333333" }
                    ]
                },
                {
                    elementType: 'labels',
                    stylers: [{visibility: 'on'}]
                },
                {
                    featureType: 'water',
                    stylers: [{color: '#2d2d2d'}]
                }
            ], {
                name: 'Custom Style'
            });
            var customMapTypeId = 'custom_style';

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                zoomControl: false,
                scaleControl: false,
                scrollwheel: false,
                center: mapLocation,
                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.ROADMAP, customMapTypeId]
                }
            });

            var marker = new google.maps.Marker({
                position: mapLocation,
                map: map,
                center: mapLocation
            });

            map.mapTypes.set(customMapTypeId, customMapType);
            map.setMapTypeId(customMapTypeId);
        }
    </script>


---
{{ content }}