---
layout: default
css: faq.css
title: FAQs
javascript: >
    <script type="text/javascript">
        $(document).ready(function(){
            var faqLink = $(".faq-link");
                faqLink.on('click',function() {
                    if( faqLink.hasClass('active-item')){
                        faqLink.not(this).parent().removeClass('active-item');
                    }
                    $(this).parent().toggleClass('active-item');
            });
        });
    </script>

---
{{ content }}