---

layout: default
css: home.css
title: Home
javascript: >
    <script type="text/javascript">
        $.getScript('/js/instafeed.min.js', function () {
            if (Instafeed) {
                new Instafeed({
                    get: 'user',
                    userId: '3626959244',
                    accessToken: '3626959244.1677ed0.3cbe435dc49d47a4b9e0c45b7a54abb7',
                    limit: 6,
                    sortBy: 'most-recent',
                    orientation: 'square',
                    template: '<a href="{{link}}" target="_blank" class="col-md-2 col-sm-2 col-xs-6"><img src="{{image}}" /></a>',
                    resolution: 'standard_resolution',
                    success: function(feed){
                        var data = feed.data.reverse();
                        $('.placeholder').each(function(index, placeholder){
                            var model = data.pop();
                            $(placeholder).html(
                                    '<a class="image-link" href="'+ model.link +'" target="_blank">'
                                    + '<img src="'+ model.images.standard_resolution.url +'" />'
                                    + '</a>').hide().fadeIn();
                        });
                    }
                }).run();
            }
        });

        $(function(){
            if( window.pageYOffset > 50 && $(document).width() >= 992){
                $('nav').addClass('navbar-shrink')
                $('.navbar-brand-logo').css('display','block');

                $(window).scroll(function() {
                    if ($(document).scrollTop() > 50 && $(document).width() >= 992) {
                        $('nav').addClass('navbar-shrink');
                        $('.navbar-brand-logo').css('display','block');
                    } else {
                        $('nav').removeClass('navbar-shrink');
                        $('.navbar-brand-logo').css('display','none');
                    }
                });
            }
            else if( window.pageYOffset < 50 && $(document).width() >= 992){
                $(window).scroll(function() {
                    if ($(document).scrollTop() > 50 && $(document).width() >= 992 ) {
                        $('nav').addClass('navbar-shrink');
                        $('.navbar-brand-logo').css('display','block');
                    } else {
                        $('nav').removeClass('navbar-shrink');
                        $('.navbar-brand-logo').css('display','none');
                    }
                });
            }

            if($(document).width() <= 991 && window.pageYOffset > 50 || $(document).width() <= 991 && window.pageYOffset < 50 ){
                $('nav').addClass('navbar-shrink');

            }


            var contactMenu = $('.navbar-menu').last();
            contactMenu.on('click',function(){
                $('html, body').animate({
                    scrollTop: $($(this).find('a').attr('href')).offset().top - 100
                }, 500);
                return false;
            });
        });

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFvcE4e-ZFGNDjCxsa0F-pQ89GWJRpqKk&callback=initMap"></script>
    <script>
        function initMap() {
            var mapLocation = {lat: 14.64504, lng: 121.05736};
            var customMapType = new google.maps.StyledMapType([
                {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e9e9e9"
                        },
                        {
                            "lightness": 17
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        },
                        {
                            "lightness": 20
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        },
                        {
                            "lightness": 17
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        },
                        {
                            "lightness": 29
                        },
                        {
                            "weight": 0.2
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        },
                        {
                            "lightness": 18
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f5f5"
                        },
                        {
                            "lightness": 21
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dedede"
                        },
                        {
                            "lightness": 21
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "visibility": "on"
                        },
                        {
                            "color": "#ffffff"
                        },
                        {
                            "lightness": 16
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "saturation": 36
                        },
                        {
                            "color": "#333333"
                        },
                        {
                            "lightness": 40
                        }
                    ]
                },
                {
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        },
                        {
                            "lightness": 19
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#fefefe"
                        },
                        {
                            "lightness": 20
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#fefefe"
                        },
                        {
                            "lightness": 17
                        },
                        {
                            "weight": 1.2
                        }
                    ]
                }
            ], {
                name: 'Custom Style'
            });
            var customMapTypeId = 'custom_style';

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                draggable: true,
                zoomControl: true,
                scaleControl: false,
                scrollwheel: false,
                center: mapLocation,
                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.ROADMAP, customMapTypeId]
                }
            });

            var marker = new google.maps.Marker({
                position: mapLocation,
                map: map,
                center: mapLocation
            });

            map.mapTypes.set(customMapTypeId, customMapType);
            map.setMapTypeId(customMapTypeId);
        }
    </script>


---
{{ content }}