---
layout: default
css: home.css
title: Home
javascript: >
    <script type="text/javascript">
        $(function(){
            $(window).scroll(function() {
                if ($(document).scrollTop() > 50 && $(document).width() >= 992) {
                    $('nav').addClass('navbar-shrink');
                } else {
                    $('nav').removeClass('navbar-shrink');
                }
            });
        });

    </script>
    <script type="text/javascript" src="/js/jquery.galleriffic.js"></script>
    <script type="text/javascript" src="/js/jquery.opacityrollover.js"></script>
    <script type="text/javascript">

        $(document).ready(function($) {
            $.getScript('/js/instafeed.min.js', function () {
                if (Instafeed) {
                    new Instafeed({
                        get: 'user',
                        userId: 2194348646,
                        accessToken: '2194348646.467ede5.defa5414de76492d85119f57442516fb',
                        limit: 8,
                        sortBy: 'most-recent',
                        template: '<a href="{{link}}" target="_blank" class="col-md-2 col-sm-2 col-xs-6"><img src="{{image}}" /></a>',
                        resolution: 'low_resolution',
                        success: function(feed){
                            var data = feed.data.reverse();
                            $('.placeholder').each(function(index, placeholder){
                                var model = data.pop();
                                $(placeholder).html(
                                        '<a href="'+ model.link +'" target="_blank">'
                                        +'<div class="image-container" style="background-color: #000 !important">'
                                        + '<img src="'+ model.images.low_resolution.url +'" />'
                                        +'<div class="image-overlay"></div>' + '</div>'
                                        + '</a>').hide().fadeIn();
                            });
                        }
                    }).run();
                }
            });

            // We only want these styles applied when javascript is enabled
            $('div.content').css('display', 'block');

            // Initially set opacity on thumbs and add
            // additional styling for hover effect on thumbs
            var onMouseOutOpacity = 0.67;
            $('#thumbs ul.thumbs li').opacityrollover({
                mouseOutOpacity:   onMouseOutOpacity,
                mouseOverOpacity:  1.0,
                fadeSpeed:         'fast',
                exemptionSelector: '.selected'
            });

            // Initialize Advanced Galleriffic Gallery
            var gallery = $('#thumbs').galleriffic({
                delay:                     2500,
                numThumbs:                 6,
                preloadAhead:              10,
                enableTopPager:            false,
                enableBottomPager:         false,
                maxPagesToShow:            7,
                imageContainerSel:         '#slideshow',
                ssControlsContainerSel:    '#controls',
                navControlsContainerSel:   '#nav',
                captionContainerSel:       '#caption',
                loadingContainerSel:       '#loading',
                renderSSControls:          false,
                renderNavControls:         false,
                playLinkText:              'Play Slideshow',
                pauseLinkText:             'Pause Slideshow',
                prevLinkText:              '&lsaquo; Previous Photo',
                nextLinkText:              'Next Photo &rsaquo;',
                nextPageLinkText:          'Next &rsaquo;',
                prevPageLinkText:          '&lsaquo; Prev',
                enableHistory:             true,
                autoStart:                 false,
                syncTransitions:           true,
                defaultTransitionDuration: 300,
                onSlideChange:             function(prevIndex, nextIndex) {
                    // 'this' refers to the gallery, which is an extension of $('#thumbs')
                    this.find('ul.thumbs').children()
                            .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
                            .eq(nextIndex).fadeTo('fast',1);

                }
            });

        });
    </script>

---
{{ content }}