---
layout: default
css: reel.css
title: Reel
javascript: >
    <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
        var nameRegex;
        var buttonFilter1 = ".sde";
        var $container = $('.grid');


        $container.imagesLoaded( function(){
            $container.isotope({
                itemSelector: '.reel-image-item',
                layoutMode: 'fitRows',
                sortAscending: true,
                filter: function () {
                    var $this = $(this);
                    var searchResult1 = nameRegex ? $this.text().match(nameRegex) : true;
                    var searchResult2 = nameRegex ? $this.text().match(nameRegex) : true;
                    var buttonResult = $this.is(buttonFilter1);
                    return searchResult1 && buttonResult || searchResult2 && buttonResult;
                },
            });
        });


        $container.on( 'arrangeComplete', function( event, filteredItems ) {
          if(filteredItems.length == 0 ){
              $("#no-result").addClass("active");
          }
            else{
              $("#no-result").removeClass("active");
          }
        });


        $('.filters-button-group').on('click', 'button', function () {
            buttonFilter1 = $(this).attr('data-filter');
            $container.isotope({});
            return false;
        });

        $('.button-group').each(function (i, slidein) {
            var $slidein = $(slidein);
            $slidein.on('click', 'button', function () {
                $slidein.find('.is-checked').removeClass('is-checked');
                $(this).addClass('is-checked');
            });
        });


        var $quicksearch1 = $('#search-name1').keyup(debounce(function () {
            nameRegex = new RegExp($quicksearch1.val(), 'gi');
            $container.isotope();
        }));

        var $quicksearch2 = $('#search-name2').keyup(debounce(function () {
            nameRegex = new RegExp($quicksearch2.val(), 'gi');
            $container.isotope();
        }));

        function debounce(fn, threshold) {
            var timeout;
            return function debounced() {
                if (timeout) {
                    clearTimeout(timeout);
                }
                function delayed() {
                    fn();
                    timeout = null;
                }

                setTimeout(delayed, threshold || 100);
            };
        }

        function escapeRegExp(str) {
            return str.replace(/[\-\[\]\/\{\}\(\)\.fea\+\?\.\\\^\$\|]/g, "\\$&");
        }
        $container.show();
    </script>

---
{{ content }}