<section id="reel-list">
    <div class="filter-container container-fluid no-gutter">
        <div class="filters-button-group button-group visibile-md hidden-sm hidden-xs">
            {% for filter in site.data.buttonFilter %}
            {% assign counter = counter | plus: 1%}
            <button class="btn-isotope {% if counter == 1 %}is-checked{% endif %}" data-filter="{{ filter.filter }}">{{ filter.name }}</button>
            {% endfor %}
            <input type="text" placeholder="search couple name" class="inputSearch form-control" id="search-name1">
        </div>
    </div>

    <div class="no-gutter category-nav filters-button-group button-group category-nav-container hidden-lg hidden-md">
        <div class="category-nav-mobile">
            <a href="#" id="category-button" data-toggle="collapse" data-target="#navbar-category-collapse">Filter Menu <span class="caret"></span></a>
        </div>
        <div class="full-width no-gutter collapse navbar-collapse in" id="navbar-category-collapse">
            {% assign counter = 0%}
            {% for filter in site.data.buttonFilter %}
            {% assign counter = counter | plus: 1%}
            <button class="col-xs-12 btn btn-primary btn-isotope {% if counter == 1 %}is-checked{% endif %}" data-filter="{{ filter.filter }}">{{ filter.name }}</button>
            {% endfor %}
            <input type="text" placeholder="search couple name" class="col-xs-12 inputSearch form-control" id="search-name2">
        </div>
    </div>

    <div class="container-fluid reel-list-container">
        <div class="grid">
            {% assign sorted-reel = site.video | sort: "slugID" %}
            {% for reel-list in sorted-reel %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-gutter reel-image-item {{ reel-list.type }}">
                <a class="popup-vimeo" href="{{ reel-list.url }}">
                    <div class="reel-image"  style="background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ),url('{{ reel-list.image-small }}');background-size: cover; background-position: center center;">
                        <div class="caption">
                            <h1 class="reel-title">{{ reel-list.title }}</h1>
                            <!--<h5 class="reel-date">{{ reel-list.wedding-date }}</h5>-->
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div id="no-result">
            <h2 id="result-text">Sorry, no result found.</h2>
        </div>
    </div>
</section>