<div id="filters-button-group"class="button-group">
    <button class="btn btn-primary btn-isotope is-checked" data-filter="*">SHOW ALL</button>
    <button class="btn btn-primary btn-isotope" data-filter=".avp">AVP</button>
    <button class="btn btn-primary btn-isotope" data-filter=".corporate">CORPORATE</button>
    <button class="btn btn-primary btn-isotope" data-filter=".international">INTERNATIONAL</button>
    <input type="text" placeholder="Search by name" class="inputSearch form-control" id="search-name">

</div>

<div class="container-fluid no-gutter reel-list-container">
    <div class="grid">
        {% for reel-list in site.reel %}
        <div class="col-md-4 col-sm-6 col-xs-12 no-gutter reel-image-item {{ reel-list.type }}">
            <a class="popup-vimeo" href="{{ reel-list.url }}">
                <div class="reel-image"  style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('{{ reel-list.image }}');background-size: cover; background-position: center center;">
                    <h1 class="reel-title">{{ reel-list.title }}</h1>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>